Assets/2020_09_23_SerialPortToBooleanStateMachines/AnalogDigitalCompressionPattern.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnalogDigitalCompressConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PortConnections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PortConnection">
                <xs:complexType>
                  <xs:attribute name="portId" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="patternName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AnalogDigitalCompressPatterns">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="AnalogDigitalCompressPattern">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="digital">
                      <xs:complexType>
                        <xs:attribute name="index" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="label" type="xs:string" use="required" />
                        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="analog">
                      <xs:complexType>
                        <xs:attribute name="index" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="label" type="xs:string" use="required" />
                        <xs:attribute name="from" type="xs:short" use="required" />
                        <xs:attribute name="to" type="xs:short" use="required" />
                        <xs:attribute name="inverse" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="docUrl" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>